.products-wrapper{
    padding-top: 98px;
    animation: slideUp 300ms linear;
    animation-delay: 150ms;
    @media (max-width: 991px){
        padding-top: 68px;
    }
    @media (max-width: 480px){
        padding-top: 52px;
    }
}
.products{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 16px;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px){
        padding: 8px;
    }
    .product{
        min-height: 355px;
        @media (max-width: 768px){
            margin: 8px;
        }
        @media (max-width: 480px){
            min-height: 313px;
            .product-name{
                height: 20px;
                overflow: hidden;
            }
            .product-action{
                padding: 16px 8px;
            }
        }
        @media (max-width: 320px){
            flex-basis: 100%;
            -webkit-flex-basis: 100%;
        }
    }
}

// Empty states
.no-results{
    text-align: center;
    margin: 0 auto;
    img{
        width: 50%;
    }
}
